.MainMenu {
    font-family: "Poltawski Nowy", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px 130px 100px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s;

}

.MenuHeader {
    height: fit-content;
    width: 100%;
    height: 440px;
}

.table {
    background-color: rgba(234, 100, 26, 0.2) !important;
    margin-right: 50px;
    animation: fadeIn 1s;
}

.table table,
th,
td {
    border: 2px solid #e07c47;
    width: 100%;
}

.table td {
    font-weight: bold;
    font-style: italic;
    padding-left: 50px;
    height: 55px;
    transition: all .3s;
}

.table td:hover {
    background-color: #ea641a66;
}


.banner {
    height: 440px;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}