.Feature{
    font-family: "Poltawski Nowy", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px 130px 150px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}



/* Features list container */
.Features{
    height: 350px; 
    width: 100%;
    margin-top: 30px;
}

/* Features list container */
.Features-list{
    height: 350px; 
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: rgba(0, 0, 0, 0.123) 2px solid ;
    background-color: #F0F0F0;
    transition: all 0.2s ease-in-out;
}

.Features-list:hover{
    transform: scale(1.03);
}

.Features-list div{
    background-color: #EA641A;
    padding: 25px;
    border-radius: 50px;
}

.Features-list div img{
    width: 50px;
}

.Features-list h1{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Features-list p{
    text-align: justify ;
}