.ItemDetails{
    font-family: "Poltawski Nowy", serif;
    font-weight: 400;
    font-style: normal;
    margin: 50px 130px 80px 130px;
    animation: fadeIn 1s;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.item{
    width: 90%;
    height: 800px;
    padding: 50px 80px;
    background-color: rgba(234, 100, 26, 0.2) !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item .divMainHeading{
    height: 100px;
}

.itemDec{
    height: 600px;

    display: flex;
    flex-direction: row;
}

.itemDecImg{
    height: 600px;
    padding: 80px 50px;
}

.itemDecImg img{
    height: 440px;
    width: fit-content;
    border-radius: 5px;
}

.itemDecPrice{
    height: 600px;
    padding: 80px 50px;
}


.itemDecPrice .itemDecPrice1{
    display: flex;
    align-items: center;
    height: 100px;
    font-size: large;
    font-style: italic;
}


.itemDecPrice .itemDecPrice2{
    display: flex;
    font-style: italic;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px !important;
}

.itemDecPrice .itemDecPrice2 .itemDecPrice2-1{
    display: flex;
    flex-direction: row;
    height: 20px;
 
}

.itemDecPrice .itemDecPrice2 .itemDecPrice2-1-1{
    width: 150px;
    height: 20px;
    font-weight: bold;
    padding-left: 5%;
}

.itemDecPrice .itemDecPrice2 .itemDecPrice2-1-2{
    width: 300px;
    height: 20px;
}



.itemDecPrice .itemDecPrice3{
    height: 200px !important;
}
.itemDecPrice .itemDecPrice3 .itemDecPrice3-1{
    display: flex;
    align-items: center;
    height: 75px;
}
.itemDecPrice .itemDecPrice3 .itemDecPrice3-2{
    height: 50px;
    display: flex;
    align-items: center;
    color:#EA641A;
    font-weight: bold;
}
.itemDecPrice .itemDecPrice3 .itemDecPrice3-3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
















/* ProductCard */
.ProductCard{
    background-color: white;
    color: rgb(0, 0, 0);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 5px;
}

.ProductCard button{
    color: black;
    width: fit-content;
    padding: 3px 15px;
}