@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Praise&display=swap');

.navbar {
    font-family: "Poltawski Nowy", serif;
    background-color: white;
    padding: 16px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



/* ---------------- Logo ---------------- */
.logo {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.logo-1 {
    font-family: "Praise", serif;
    font-size: 40px;
    font-weight: 100;
    color: #000;
}

.logo-2 {
    font-size: 12px;
    margin-left: 40px;
    margin-top: -10px;
    color: #000;
}

/* ---------------- Desktop Menu ---------------- */
.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 17px;
}

.list {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.list:hover,
.list.active {
    color: #EA641A;
}



/* ---------------- Right Icons ---------------- */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.like-item,
.order-item,
.login {
    position: relative;
    font-size: 24px;
    cursor: pointer;
}

.dot {
    position: absolute;
    top: -5px;
    right: -5px;
    min-width: 17px;
    min-height: 17px;
    background-color: #EA641A;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ---------------- Mobile Toggle ---------------- */
.mobile-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}



/* ---------------- Mobile Menu ---------------- */
.mobile-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 15px;
}

.mobile-menu .list {
    font-size: 15px;
    padding: 5px 0;
}



/* ---------------- Responsive ---------------- */
@media screen and (max-width: 768px) {

    .nav-links,
    .nav-icons {
        display: none;
    }

    .mobile-toggle {
        display: block;
    }
}