.About{
    font-family: "Poltawski Nowy", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px 130px 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutBanner{
    width: 100%;
    animation: fadeIn 1s;
}

.aboutBanner img{
    width: 100%;
    height: 100%;
}


.aboutDesc{
    background-color: rgba(234, 100, 26, 0.2) !important;
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 70px;
    animation: fadeIn 1s;
}

.MainHeading{
    margin-top: 0 !important;
}

.aboutDesc-1{
    font-size: 20px;
    text-align: center;
}

.aboutDesc-2{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 50px 0 10px 0;
}

.mapContainer{
    margin-bottom: 50px;
}