.Footer {
    font-family: "Poltawski Nowy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2% 0;
    flex-wrap: wrap;
    /* allows stacking on small screens */
    gap: 30px;
}

/* -------------------- Logo & Social Media -------------------- */
.f1 {
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Brand Logo */
.Footer .logo {
    width: 100%;
}

.Footer .logo .logo-1 {
    font-family: "Praise", serif;
    font-weight: 100;
    font-size: 50px;
    font-style: normal;
    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.3);
}

.Footer .logo .logo-2 {
    font-weight: 400;
    font-size: 12px;
    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.3);
    margin-top: -10px;
}

/* Social Media */
.Footer .social_media {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.Footer .social_media .media {
    color: #ea641a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Footer .social_media .media:hover {
    scale: 1.1;
}

/* -------------------- Sections -------------------- */
.f2,
.f3,
.f4 {
    flex: 1 1 200px;
    padding: 20px;
}

.f2 h1,
.f3 h1,
.f4 h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

.f2 ul,
.f3 ul,
.f4 ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #606060;
    cursor: pointer;
}

.f2 ul li,
.f3 ul li,
.f4 ul li {
    transition: all 0.3s;
    font-size: 18px !important;
}

.f2 ul li:hover,
.f3 ul li:hover,
.f4 ul li:hover {
    color: #ea641a;
    transform: translateX(6px);
}

/* -------------------- Responsive Breakpoints -------------------- */
@media (max-width: 1240px) {
    .Footer {
        padding: 30px 40px;
        gap: 20px;
    }

    .Footer .logo .logo-1 {
        font-size: 40px;
    }

    .f2,
    .f3,
    .f4 {
        display: none;
    }

}

@media (max-width: 768px) {
    .Footer {
        padding: 20px;
    }

    .f2,
    .f3,
    .f4 {
        padding: 10px 0;
    }

    .Footer .logo .logo-1 {
        font-size: 35px;
    }

    .f4 {
        display: none;
    }
}

@media (max-width: 480px) {
    .Footer {
        padding: 15px;
    }

    .Footer .logo .logo-1 {
        font-size: 28px;
    }

    .Footer .logo .logo-2 {
        font-size: 10px;
    }

    .Footer .social_media .media {
        font-size: 18px;
        width: 35px;
        height: 35px;
    }
}