.OrderItem {
    font-family: "Poltawski Nowy", serif;
    font-weight: 400;
    font-style: normal;
    margin: 50px 130px 100px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* -------------------  heading ------------------- */
.heading {
    background-color: rgba(234, 100, 26, 0.2) !important;
    width: 100%;
    padding: 10px 20px;
    height: fit-content;
    display: flex;
}




/* ------------------- Table ------------------- */
.Table {
    width: 100%;
    text-align: center;
}





/* Table heading */
.TableHeading {
    background-color: hwb(21 16% 7% / 0.38) !important;
    border: 1px #ec5b0d8d solid;
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    padding: 8px 20px;
    font-weight: bold;
    display: flex;
}

.TableHeading .title {
    margin: 5px;
}






/* Table items */
.TableItem {
    background-color: rgba(234, 100, 26, 0.2) !important;
    width: 100%;
    height: fit-content;
    padding: 8px 20px;
    display: flex;
}

.TableItem .img {
    height: 110px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TableItem .img img {
    padding: 5px;
    width: 150px;
    height: 100px;
}

.TableItem .desc {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NoItems {
    display: flex;
    justify-content: center;
}









/* Order summary */
.top {
    margin-top: 5px;
}

.summary {
    background-color: rgba(234, 100, 26, 0.2) !important;
    width: 100%;
    height: fit-content;
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.summary_item{
    text-align: start;
}




/* Delivery Information */
.checkout {
    display: flex;
    justify-content: end;
    margin-top: 50px;
}