@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Tamil:ital,wght@0,100..900;1,100..900&family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Tamil:ital,wght@0,100..900;1,100..900&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Praise&display=swap');

.Footer{
    font-family: "Poltawski Nowy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    height: fit-content;
    background-color: #D9D9D9;
}

.f1{
    height: max-content;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.f1 .logo{
    width: 100%;
}

.f1 .logo-1{
    font-family: "Praise", serif;
    font-weight: 100;
    font-size: 70px;
    font-style: normal; 
    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.3); 
}

.f1 .logo-2{
    position: absolute;
    right: 110px;
    bottom:  10px;
    font-weight: 400;
    font-size: 11px;
    font-style: normal; 
    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.3); 
}

.social_media{
    position: relative;
    /* background-color: red; */
}

.social_media .media{
    position: relative;
    color: #EA641A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: white;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.social_media .media:hover{
    scale: 1.1;
}


.f2, .f3, .f4 {
    height: max-content;
    padding: 60px 60px;
}

.f2 h1, .f3 h1, .f4 h1 {
    font-size: 24px;
}

.f2 ul, .f3 ul, .f4 ul {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 10px;
    padding: 5px 15px;
    color: #606060;
}

.f2 ul li, .f3 ul li, .f4 ul li {
    transition: all 0.3s; 
}

.f2 ul li:hover , .f3 ul li:hover, .f4 ul li:hover {
   color: #EA641A;
   transform: translateX(10px); 
}





@media (max-width: 1100px) {
    .f2 , .f3{
        display: none;
      }
    .f1 , .f4{
      width:50%;
    }
  }
  


@media (max-width: 1200px) {
    .f3{
      display: none;
    }
    .f1 , .f4{
      width: 33.3%;
    }
  }
  